<h1><%= @user.username %></h1>

<%= avatar_for @user, height: 200, width: 200 %>

<h2>Articles</h2>

<div align="center">
  <%= will_paginate @user_articles %>
</div>

<% @user_articles.each do |article| %>
  <h3><%= article.title %></h3>
  <p><%= article.description %></p>
<% end %>

<%= link_to "All Users", users_path %> | <%= link_to "Edit", edit_user_path %>